.top-bar
	.socials.socials__top
		ul.social__list
			li.social__item 
				+icon('vk','white-mod')
			li.social__item 
				+icon('github','white-mod')
			li.social__item 
				+icon('in','white-mod')
	.hamburger-menu
		div(class="hamburger" id="hamburger")
			span.line
			span.line
			span.line
.menu-open
	.menu-open__left
	.menu-open__right
	ul.menu-open__list
		li.menu-open__item
			a(href='./work.html').menu-open__link: | Мои работы
		li.menu-open__item
			a(href='./about.html').menu-open__link: | Обо мне
		li.menu-open__item
			a(href='./blog.html').menu-open__link: | Блог
		li.menu-open__item
			a(href='./index.html').menu-open__link: | Авторизация
.auth-intro
	.auth-intro__info
		.avatar.auth-intro__avatar
			.avatar__pic(style="background-image: url('images/main-avatar.jpg'); background-position: 44% 0%;  background-size: 150%")
			img.visuallyHidden(src=require("../../img/main-avatar.jpg"))
		.auth-intro__name
				| #{name}
		if title
			.auth-section__title
				h2.auth-section__text
					| #{title}
		.auth-intro__descr
				| #{descr}
